<!-- Display all films-->
<div class="row">
  <% @films.each do |film| %>
    <div class="col-md-3">
      <a href="films/<%= film.id %>">
        <%= image_tag film.film_img.url(:film_index), class: "film" %>
      </a>
    </div>
  <% end %>
</div>
